# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs & Temporary files
*.log
*.tmp
*.bak
data/webhooks.json

